<template>
      <div class="container">
          <vl-map
            :load-tiles-while-animating="true"
            :load-tiles-while-interacting="true"
            data-projection="EPSG:3857"
            class="imageContainer"
            ref="map"
          >
            <vl-view
              :zoom.sync="zoom"
              :center.sync="center"
              :rotation.sync="rotation"
              :max-zoom="maxZoom"
              :min-zoom="minZoom"
            ></vl-view>

            <vl-layer-tile
              :extent="extent"
              @mounted="addOverviewMap"
              ref="baseLayer"
            >
              <vl-source-zoomify
                :projection="projectionName"
                :urls="baseLayerURLs"
                :size="imageSize"
                :extent="extent"
                crossOrigin="Anonymous"
                ref="baseSource"
              />
            </vl-layer-tile>
          </vl-map>
          <div class="buttonContainer">
            <button
              v-bind:class="{
                button: true,
                'is-fullwidth': true,
                'is-success':
                  image.id in this.$parent.ratings &&
                  this.$parent.ratings[image.id] == 2
              }"
              v-on:click="emitToParent('add-rating', image.id, 2)"
            >
              Gold standard
            </button>
            <button
              v-bind:class="{
                button: true,
                'is-fullwidth': true,
                'is-success':
                  image.id in this.$parent.ratings &&
                  this.$parent.ratings[image.id] == 1
              }"
              v-on:click="emitToParent('add-rating', image.id, 1)"
            >
              Ok for diagnosis
            </button>
            <button
              v-bind:class="{
                button: true,
                'is-fullwidth': true,
                'is-success':
                  image.id in this.$parent.ratings &&
                  this.$parent.ratings[image.id] == 0
              }"
              v-on:click="emitToParent('add-rating', image.id, 0)"
            >
              Not eligiable for diagnosis
            </button>
          </div>
      </div>
</template>

<script>
import View from 'ol/View';
import OverviewMap from 'ol/control/OverviewMap';

export default {
  name: 'CytomineImage',
  props: {
    image: Object,
    index: Number,
    chosen: Boolean
  },
  data() {
    return {
      zoom: null,
      minZoom: null,
      center: [0, 0],
      rotation: 0,
      baseSource: null,
      clientWidth: null,
      overview: null
    };
  },
  computed: {
    projectionName() {
      return `CYTO-${this.image.id}`;
    },
    extent() {
      return [0, 0, this.image.width, this.image.height];
    },
    imageSize() {
      return [this.image.width, this.image.height];
    },
    imageServerURLs() {
      let urls = [
        'http://ims.awilson.website/image/tile?zoomify=' + this.image.fullPath,
        'http://ims2.awilson.website/image/tile?zoomify=' + this.image.fullPath
      ];
      return urls;
    },

    baseLayerURLs() {
      let params = `&tileGroup={TileGroup}&x={x}&y={y}&z={z}&channels=0&layer=0&timeframe=0&mimeType=${this.image.mime}`;
      return this.imageServerURLs.map(url => url + params);
    },

    maxZoom() {
      return 21;
    }
  },
  methods: {
    setInitialZoom() {
      this.zoom = 10;
      this.minZoom = 9;
    },
    setImageCenter() {
      this.center = [this.image.height / 2, this.image.height / 2];
    },
    async addOverviewMap() {
      await this.$refs.map.$createPromise; // wait for ol.Map to be created
      await this.$refs.baseLayer.$createPromise; // wait for ol.Layer to be created

      this.overview = new OverviewMap({
        view: new View({
          projection: 'EPSG:4326',
          minZoom: -9
        }),
        layers: [this.$refs.baseLayer.$layer],
        tipLabel: 'overview map',
        target: this.$refs.overview,
        collapsible: false
      });
      this.$refs.map.$map.addControl(this.overview);
    },

    emitToParent(event, id, rating) {
      this.$emit(event, { [id]: rating });
    }
  },
  mounted() {
    this.setInitialZoom();
    this.setImageCenter();
  }
};
</script>

<style scoped lang="scss">

.buttonContainer {
  display: flex;
  flex-flow: row;
  background: #f7f3ff;
  width: 100%;
  border: 2px solid black;
  margin: 2px;
}

.imageContainer {
  display: flex;
  width: 100%;
  height: 85%;
  flex-grow: 1;
}

.container {  
  display: flex;
  flex-flow: column;
  height: 100%;
}
</style>

<style lang="scss">
.custom-overview {
  > .ol-overviewmap:not(.ol-collapsed) {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.4);
  }
  > .ol-overviewmap .ol-overviewmap-map {
    border: none;
  }
}
</style>
