<!-- Copyright (c) 2009-2020. Authors: see NOTICE file.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.-->

<template>
  <div v-if="error" class="box error">
    <h2>{{ $t('error') }}</h2>
    <p>{{ $t('error-loading-image') }}</p>
  </div>
  <div v-else class="viewer">
    <b-loading :is-full-page="false" :active="loading" />
    <div v-if="!loading" class="maps-wrapper">
      
      <div class="map-cell"
        v-for="(id, i) in cells"
        :key="i"
        :style="`height:${elementHeight}%; width:${elementWidth}%;`"
      >
        <!-- Pass down addRating method using events -->   
        <compare-image-absolute 
            :key="id"
            :image="images[id]"
            :index="i"
            @add-rating="addRating"
          />
      </div>
      <button
        class="button is-fullwidth is-link"
        v-bind:class="{ 'is-hidden': loading }"
        @click="saveAndFetch"
        :disabled="disableSubmit"
      >
        Save and fetch new images
      </button>
    </div>
  </div>
</template>

<script>
import { get } from '@/utils/store-helpers';

import CompareImageAbsolute from '@/components/compare/CompareImageAbsolute.vue';

import { ImageInstance } from 'cytomine-client';

import axios from 'axios';

export default {
  name: 'compareAbsolute',

  components: {
    CompareImageAbsolute
  },

  data() {
    return {
      imageIds: [],
      fetchIds: [],
      images: {},
      chosenImage: null,
      error: false,
      loading: true,
      ratings: {}
    };
  },

  computed: {
    project: get('currentProject/project'),
    disableSubmit() {
      // Disable button until we have added ratings for all
      return (
        this.fetchIds.length >= Object.getOwnPropertyNames(this.ratings).length
      );
    },
    nbImages() {
      return this.imageIds.length;
    },
    nbHorizontalCells() {
      return Math.ceil(Math.sqrt(this.nbImages));
    },
    nbVerticalCells() {
      return this.nbHorizontalCells ? Math.ceil(this.nbImages/this.nbHorizontalCells) : 0;
    },
    cells() {
      let cells = new Array(this.nbHorizontalCells*this.nbVerticalCells);
      for(let i = 0; i < this.nbImages; i++) {
        cells[i] = this.imageIds[i]
      }
      return cells;
    },
    elementHeight() {
      return 95/this.nbVerticalCells;
    },
    elementWidth() {
      return 100/this.nbHorizontalCells;
    },
  },

  methods: {
    async fetchImages() {
      try {
        await Promise.all(
          this.fetchIds.map(async id => {
            let image = await ImageInstance.fetch(id);
            this.images[id] = image;
          })
        );
        this.loading = false;
        this.imageIds = this.fetchIds;
        // eslint-disable-next-line brace-style
      } catch (err) {
        console.log(err);
        this.error = true;
      }
    },

    async fetchNewImagesIds() {
      await axios
        .get('http://127.0.0.1:5000/get_images/' + this.project.id + '/4')
        .then(res => {
          this.fetchIds = res.data.id_images;
        });
      await this.fetchImages();
      this.$forceUpdate();
    },

    addRating(value) {
      const newRatings = { ...this.ratings, ...value };
      this.ratings = newRatings;
    },

    async saveAndFetch() {
      this.loading = true;
      for (const [key, value] of Object.entries(this.ratings)) {
        await axios.post('http://127.0.0.1:5000/props/absolute?image=' + key, {
          category: 'absolute_rating',
          score: value
        });
      }
      this.$notify({
        type: 'success',
        text: 'Ranking updated'
      });

      await this.fetchNewImagesIds();
      this.ratings = {};
      this.loading = false;
    }
  },

  async created() {
    await this.fetchNewImagesIds();
    await this.fetchImages();
  }
};
</script>

<style scoped>

.viewer {
  display: flex;
  height: 100%;
}

.maps-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.map-cell {
  border-top: 0.2em solid #222;
  overflow: hidden;
}

.hidden {
  display: none;
}
</style>
