<!-- Copyright (c) 2009-2020. Authors: see NOTICE file.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.-->

<template>
  <div class="list-projects-wrapper content-wrapper">
    <b-loading :is-full-page="false" :active="loading" />
    <div class="box error" v-if="error">
      <h2>{{ $t('error') }}</h2>
      <p>{{ $t('unexpected-error-info-message') }}</p>
    </div>
    <div v-else-if="!loading" class="panel">
      <p class="panel-heading">
         Compare Scores
      </p>
      <div>
          <compare-table
            :data="data"
            >
            <template #default="{row: project}">
              
              <b-table-column :label="$t('overview')" width="100">      
                  <img :src="project.image.thumbURL(256)" class="image-overview">
              </b-table-column>

              <b-table-column field="id" label="File Name" sortable width="250">
                {{ project.image.instanceFilename}}        
              </b-table-column>

              <b-table-column
                  field="ELO"
                  label="ELO"
                  sortable
                  width="250"
              >
                {{ project.ELO}}  
              </b-table-column>

              <b-table-column
                  field="aas"
                  label="Average Absolute Score"
                  sortable
                  width="250"
                >
                {{ project.aas}}          
              </b-table-column>
            </template>

            <template #detail="{row: project}">
              <image-details
                :image="project.image"
                :excludedProperties="excludedProperties"
              />
            </template>

          </compare-table>

      </div>
    </div>
  </div>
</template>

<script>
import {get, sync, syncMultiselectFilter, syncBoundsFilter} from '@/utils/store-helpers';

import CompareTable from '@/components/compare/CompareTable';

import ImageDetails from '@/components/image/ImageDetails';

import { ImageInstance } from "cytomine-client";

import axios from 'axios';

// store options to use with store helpers to target projects/currentProject/listImages module
const storeOptions = {rootModuleProp: 'storeModule'};
// redefine helpers to use storeOptions and correct module path
const localSyncMultiselectFilter = (filterName, options) => syncMultiselectFilter(null, filterName, options, storeOptions);
const localSyncBoundsFilter = (filterName, maxProp) => syncBoundsFilter(null, filterName, maxProp, storeOptions);


export default {
  name: 'compare-scores',
  components: {
    CompareTable,
    ImageDetails
  },
  
  data() {

    return {
      error: false,
      loading: true,

      elos: {},
      absolute: {},
      sortedImageIds: [],
      images: {},

      data: [],
      
      excludedProperties: [
        'overview',
        'tags',
        'status',
        'description',
        'magnification',
        'numberOfAnnotations',
        'numberOfJobAnnotations',
        'numberOfReviewedAnnotations'
      ],
    }
  },

  computed: {
    project: get('currentProject/project'),
  },

  methods: {

    async fetchScores() {
      await axios.get('http://127.0.0.1:5000/sort/elo?project=' + this.project.id)
      .then(res => {
          this.sortedImageIds = res.data.sorted_ids;
        }
      )
      
      //Fetches the elos of each image
      for (var i = 0; i < this.sortedImageIds.length; i++) {
        let id = this.sortedImageIds[i];
        await axios.get('http://127.0.0.1:5000/props/elo?image=' + id)
        .then(res => {
          this.elos[id] = res.data.elo;
        });    
      }

      //Fetches the absolute ranking of each image
      for (var i = 0; i < this.sortedImageIds.length; i++) {
        let id = this.sortedImageIds[i];
        await axios.get('http://127.0.0.1:5000/props/absolute?image=' + id)
        .then(res => {
          let scores = res.data.score;
          if (scores.length == 0) {
            this.absolute[id] = "unscored";
          } else {
            let average = 0
            for (var j = 0; j < scores.length; j++) {
              average += scores[j];
            }
            average = average / scores.length;
            this.absolute[id] = average;
          }
        });    
      }

      await Promise.all(
          this.sortedImageIds.map(async id => {
            let image = await ImageInstance.fetch(id);
            this.images[id] = image;
          })
        );

      for (var i = 0; i < this.sortedImageIds.length; i++) {
        var id = this.sortedImageIds[i];
        var temp = { 'id': id, 'ELO': this.elos[id], 'aas': this.absolute[id], 'image': this.images[id]}
        this.data.push(temp);
        
      }
      console.log(this.data[0].image.instanceFilename);
    },

    fetchImageElo(id) {
      return this.elos[id];
    },

    fetchAbsolute(id) {
      return this.absolute[id];
    },

    createData() {

    }

  },
  async created() {
    try {
      await Promise.all([
        this.fetchScores()
      ]);
      this.loading = false;
    }
    catch(error) {
      console.log(error);
      this.error = true;
    }
  }

};
</script>

<style scoped>
.panel-block {
  padding-top: 0.8em;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-block {
  display: flex;
}

.legend {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem 1.5em;
  background: #f8f8f8;
}

.legend p:not(:last-child) {
  margin-bottom: 0.4em;
}
</style>

<style>
.search-projects {
  max-width: 25em;
  margin-right: 1em;
}

.table-projects {
  margin-top: 1rem;
}

.list-projects-wrapper td,
.list-projects-wrapper th {
  vertical-align: middle !important;
}
</style>
